### Django ###
*.log
*.pot
*.pyc
*~
/.vscode
__pycache__/
/static
media
local_settings.py
db.sqlite3
db.sqlite3-journal

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

### macOS ###
.DS_Store

# Python
app/venv/
app/.venv/

.idea
*.00?

# production
nginx/staticfiles/
var/db/
var/lib/ssl_certs/
.env

# git-secret
.gitsecret/keys/random_seed

frontend/.env.production

