[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-environ = "*"

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-filter = "*"
pillow = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
