<!-- Footer -->
<footer id="main-footer" class="py-4 mt-auto bg-primary text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        Copyright &copy;
        <span class="year"></span> OWARANAI METER
      </div>
      <div class="col-md-3">
        <div class="social text-right">
          <a href="#">
            <i class="fab fa-twitter text-white"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook text-white"></i>
          </a>
          <a href="#">
            <i class="fab fa-linkedin text-white"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram text-white"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest text-white"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</footer>
