<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>owaranai-meter</title>
    <link href="/staticfiles/css/app.aa2b5aae.css" rel="preload" as="style">
    <link href="/staticfiles/js/app.278e76fa.js" rel="preload" as="script">
    <link href="/staticfiles/js/chunk-vendors.b7ffa0d6.js" rel="preload" as="script">
    <link href="/staticfiles/css/app.aa2b5aae.css" rel="stylesheet">
</head>
    <body>
    <noscript><strong>We're sorry but owaranai-meter doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id="app"></div>
    <script src="/staticfiles/js/chunk-vendors.b7ffa0d6.js"></script>
    <script src="/staticfiles/js/app.278e76fa.js"></script>
</body>
</html>

