{% extends "base.html" %}

{% block content %}
<div id="front" v-cloak>
  <main class="main-container">
    <p>#{ totalMeetingNum }会議</p>
    <p>#{ totalParticipants }人</p>
    <svg id="chart" width="300" height="300">
      <g id="inner"></g>
    </svg>
    <b-button href="/try_meter/" block variant="primary">計測する</b-button>
  </main>
</div>
{% endblock %}

{% block extra_js %}
<script type="module">
  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = 'X-CSRFToken'

  const api = axios.create({
    baseURL: '/api/v1',
    timeout: 5000,
    headers: {
      'Content-Type': 'application/json',
      'X-Requested-With': 'XMLHttpRequest'
    }
  })

  Vue.options.delimiters = ['#{', '}']

  const front = new Vue({
    el: '#front',
    data: {
      totalMeetingNum: 0,
      totalParticipants: 0,
      sumDurationMen: 0,
      sumDurationWomen: 0,
      sumNumberMen: 0,
      sumNumberWomen: 0
    },
    mounted() {
      this.getDataAndDrawChart();
    },
    methods: {
      getDataAndDrawChart() {
        api({
          method: 'get',
          url: '/meetings/'
        })
        .then((res) => {
          this.totalMeetingNum = res.data.length;
          this.sumDurationMen = res.data.reduce((prev, current) => {
            return prev + current.duration_men;
          }, 0);
          this.sumDurationWomen = res.data.reduce((prev, current) => {
            return prev + current.duration_women;
          }, 0);
          this.sumNumberMen = res.data.reduce((prev, current) => {
            return prev + current.num_men;
          }, 0);
          this.sumNumberWomen = res.data.reduce((prev, current) => {
            return prev + current.num_women;
          }, 0);
          this.totalParticipants = this.sumNumberMen + this.sumNumberWomen;
        })
        .then(() => {
          this.drawChart();
        })
        .catch((e) => {
          console.error(e);
        })
      },
      drawChart() {
        const data = [
          { label: 'men', value: this.sumDurationMen },
          { label: 'women', value: this.sumDurationWomen }
        ];

        const svg = d3.select("#chart"),
          width = svg.attr("width"),
          height = svg.attr("height"),
          radius = Math.min(width, height) / 2,
          g = d3.select("#inner").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        const color = d3.scaleOrdinal()
          .range(["#A4243B", "#D8C99B", "#D8973C", "#BD632F", "#273E47"]);

        // Generate the pie
        const pie = d3.pie()
          .value(function(d) { return d.value; })
          .sort(null);

        // Generate the arcs
        const arc = d3.arc()
          .innerRadius(0)
          .outerRadius(radius);

        //Generate groups
        const arcs = g.selectAll("arc")
          .data(pie(data))
          .enter()
          .append("g")
          .attr("class", "arc")

        //Draw arc paths
        arcs.append("path")
          .attr("fill", function(d, i) {
            return color(i);
          })
          .transition().delay(function(d, i) { return i * 800; }).duration(1000)
          .attrTween('d', function(d) {
            var i = d3.interpolate(d.startAngle+0.1, d.endAngle);
            return function(t) {
              d.endAngle = i(t);
              return arc(d);
            }
          });

        const text = d3.arc()
          .outerRadius(radius - 60)
          .innerRadius(radius - 60);

        arcs.append("text")
          .attr("fill", "black")
          .attr("transform", function(d) { return "translate(" + text.centroid(d) + ")"; })
          .attr("dy", "5px")
          .attr("text-anchor", "middle")
          .text(function(d) { return d.data.label; });
      }
    }
  })
</script>
{% endblock %}
