// Theme color
$primary: #685A70;
$secondary: #e0e0de;
$success: #FFD62A;
$info: #353940;

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index';

@mixin solid-button($color) {
  position: relative;
  background: $color;
  box-shadow: 0 7px 1px 0 darken($color, 20%), 0 0 1px 2px darken($color, 8%);
  transition: all 0.3s;
  &:hover {
    background: lighten($color, 8%);
    transform: translate(0, 4px);
    box-shadow: 0 3px 1px 0 darken($color, 20%), 0 0 1px 2px darken($color, 8%);
  }
  &:focus {
    background: lighten($color, 4%);
    transform: translate(0, 4px);
    box-shadow: 0 3px 1px 0 darken($color, 20%), 0 0 1px 2px darken($color, 8%);
  }
}
